@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header {
    width: 100%;
    padding: 20px 0;
    background-color: #28311B;
    display: flex;
    align-items: center;
    padding-left: 50px;

}

.logo-imagem {
    width: 100px;
    border-radius: 25px;
    align-items: center;
    height: 80px;
}

.logo-texto {
    margin-left: 60px;
    color: #8fbc8f;
    font-family: "Dosis", sans-serif;
}

.carrinho-logo {
    width: 55px;
    height: 66px;
    align-items: center;
    margin-left: 1000px;
    color: #FFF;
}

#menu-h ul {
    font-family: "Montserrat", sans-serif;
    background-color: #323b25;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 20px;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: #ff7f50;
}

#menu-h b {
    color: #8fbc8f;
}

.banner {
    width: 960px;
    height: 438px;
    background-color: #ff7f50;
    margin-top: 100px;
    margin-left: 20%;
    border-radius: 5%;
    margin-bottom: 95px;
}

.texto-banner {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    top: 65%;
    left: 69%;
    color: #fffdd0;
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-size: 64px;
}

.imagem-banner {
    width: 500px;
    height: 438px;
    float: left;
}

.roda_de_produtos {
    display: flex;
    background-color: #323b25;
    width: 100%;
    height: 350px;
    justify-content: space-evenly;
}

.roda_de_produtos img {
    margin-top: 50px;
    width: 213px;
    height: 208px;
    background-color: #8fbc8f;
    border-radius: 25%;
}

.roda_de_produtos h3 {
    font-family: "Dosis", sans-serif;
    color: #8fbc8f;
    font-size: 20px;
    text-align: center;
}

.roda_de_produtos h4 {
    font-family: "Dosis", sans-serif;
    color: #8fbc8f;
    font-size: 20px;
    text-align: left;
}

.sobre-nos {
    width: 100%;
    height: 929px;
    background-color: #ff7f50;
    border-radius: 5%;
    align-items: center;
}

.sobre-nos img {
    padding-left: 337px
}

.sobre-nos h2 {
    color: #fffdd0;
    font-size: 48px;
    padding-left: 614px;
    font-family: "Dosis", sans-serif;
}

.sobre-nos h3 {
    color: #fffdd0;
    text-align: center;
    font-size: 40px;
    font-family: "Dosis", sans-serif;
}

.loja {
    width: 95%;
    height: 20%;
    background-color: #323b25;
    margin-top: 50px;
    margin-left: 36px;
    margin-right: 20px;
    border-radius: 4%;
}

.indicador-produto {
    font-family: "Montserrat", sans-serif;
    color: #8fbc8f;
    padding-left: 30px;
    padding-top: 30px;
}

.loja-container {
    display: flex;
    background-color: #323b25;
    width: 100%;
    height: 350px;
    justify-content: space-evenly;
}

.loja-container img {
    margin-top: 50px;
    width: 213px;
    height: 208px;
    background-color: #8fbc8f;
    border-radius: 25%;
}

.loja-container h3 {
    font-family: "Dosis", sans-serif;
    color: #8fbc8f;
    font-size: 20px;
    text-align: center;
}

.loja-container h4 {
    font-family: "Dosis", sans-serif;
    color: #8fbc8f;
    font-size: 20px;
    text-align: left;
}

.banner-sac {
    width: 100%;
    height: 278px;
    background-color: #28311B;
}
.banner-sac h1 {
    font-family: "Dosis", sans-serif;
    padding-top: 30px;
    padding-left: 40%;
    color: #8fbc8f ;
    font-size: 60px;
}
.banner-sac h2 {
    font-family: "Dosis", sans-serif;
    color: #8fbc8f;
    font-size: 30px;
    text-align: center;
}
.container-sac {
    background-color: #8fbc8f;
    width: 100%;
    height: 810px;
}